.error {
    border: 2px solid red;
    color: red;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    background-color: lightgray;
  }
  
  .info {
    border: 2px solid green;
    color: green;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    background-color: lightgray;
  }